<form action="/doctor" method="post">
<h1>Add doctor's data</h1>
<br>
<label for="name">Name:</label>
<br>
<input type="text" name="name" id="name" placeholder="Name">
<br>
<label for="phoneNumber">Phone Number:</label>
<br>
<input type="text" name="phoneNumber" placeholder="Enter phone number">
<br>
<label for="email">Email:</label>
<br>
<input type="email" name="email" placeholder="Enter email">
<br>
<label for="speciality">Speciality</label>
<br>
<textarea name="speciality" id="" cols="30" rows="3">Speciality:</textarea>
<br>
<button type="submit" class="btn">Submit</button>
</form>
