<form action="/doctor" method="post">
<h1>Welcome on doctor's page</h1>
<br>
<label for="firstName">First Name</label>
<input type="text" name="firstName" id="firstName" placeholder="First Name">
<br>
<label for="lastName">Last Name</label>
<input type="text" name="lastName" id="lastName" placeholder="Last Name">
<br>
<label for="phoneNumber">Phone Number</label>
<input type="number" name="phoneNumber" placeholder="Enter phone number">
<br>
<label for="email">Email</label>
<input type="email" name="email" placeholder="Enter email">
<br>
<label for="speciality">Speciality</label>
<textarea name="speciality" id="" cols="30" rows="3">Speciality</textarea>
<br>
<button type="submit">Submit</button>
</form>
