
<ul>
<% doctors.foreach(function(doctor) { %>
<li>First Name: <%doctor.firstName%></li>
<li>First Name: <%doctor.lastName%></li>
<li>First Name: <%doctor.phoneNumber%></li>
<li>First Name: <%doctor.email%></li>
<li>First Name: <%doctor.speciality%></li>
<% } %>   
</ul>