

<% doctors.forEach(function(doctor) { %>
 <ul>
<li>Name: <%= doctor.name %></li>
<li>Phone Number: <%= doctor.phoneNumber %></li>
<li>Email: <%= doctor.email %></li>
<li>Speciality: <%= doctor.speciality %></li>
<br>
</ul>
<% }) %>   
