<form action="" method="post" class="home-Page">

    <h1>Welcome to physio clinic</h1>
<p>
    We provide physiotherapy treatment  related to all kind of muscular pain, arthritis, stroke rehabilitaion and home care services to bed bound patients.
</p>

</form>

