<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <section>
      <div>
        <nav>
          <ul>
            <li><a href=""></a>Sign Up</li>
            <li><a href=""></a>Sign In</li>
            <li><a href=""></a>Sign Out</li>
            <li><a href=""></a>About</li>
          </ul>
        </nav>
      </div>
      <div>
        <h1>Physio Clinic</h1>
        <img src="" alt="">
      </div>
    </section>
    <%- body %>
  </body>
</html>
