<form action="/patient" method="post">
<h1>Welcome on patients page</h1>
<br>
<label for="name">Name</label>
<input type="text" name="name" id="name" placeholder="Name">
<br>
<label for="age">Age</label>
<input type="number" name="age" id="age" placeholder="Age">
<br>
<label for="phoneNumber">Phone Number</label>
<input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number">
<br>
<label for="email">Email</label>
<input type="email" name="email" id="email" placeholder="Email">
<br>
<button type="submit">Submit</button>
</form>