<form>
<h1>Welcome on appointments page</h1>
<br>
<label for="doctor">Doctor</label>
<input type="text" name="doctor" id="doctor" placeholder="Doctor Name">
<br>
<label for="patient">Patient</label>
<input type="text" name="patient" id="patient" placeholder="Patient Name">
<br>
<label for="symptoms">Symptoms</label>
<textarea name="symptoms" id="symptoms" cols="30" rows="10">Symptoms</textarea>
<br>
<label for="prescription">Prescription</label>
<textarea name="prescription" id="" cols="30" rows="10">Prescription</textarea>
</form>

